body {
  background: gray;
  text-align: center;
}

#topbar {
  margin-top: 2%;
  margin-bottom: 2%; 
}

div {
  font-size: 1.5rem;
} 

footer {
  margin-top:calc(5% + 60px);
  position: absolute;
  bottom: 0;
  width: 100% !important;
}

svg .abcjs-slur,
svg .abcjs-p8,
svg .abcjs-p6,
svg .abcjs-n5,
svg .abcjs-p0,
svg .abcjs-p10,
svg .abcjs-p2,
svg .abcjs-p4,
svg .abcjs-staff-extra,
svg .abcjs-title,
svg .abcjs-bar,
svg .abcjs-chord,
svg .abcjs-d0-125,
svg .abcjs-d0-25,
svg .abcjs-d0-5,
svg .abcjs-ending,
svg .abcjs-l1,
svg .abcjs-m0,
svg .abcjs-m2,
svg .abcjs-m4,
svg .abcjs-m6,
svg .abcjs-meta-top,
svg .abcjs-n1,
svg .abcjs-n3,
svg .abcjs-top-of-system,
svg .abcjs-v0,
svg .abcjs-top-line,
svg .abcjs-tempo,
svg .abcjs-staff,
svg .abcjs-p9,
svg .abcjs-p7,
svg .abcjs-p5,
svg .abcjs-p3,
svg .abcjs-p11,
svg .abcjs-p1,
svg .abcjs-note,
svg .abcjs-n4,
svg .abcjs-n2,
svg .abcjs-n0,
svg .abcjs-meta-bottom,
svg .abcjs-m5,
svg .abcjs-m3,
svg .abcjs-m1,
svg .abcjs-l2,
svg .abcjs-l0,
svg .abcjs-d0-75,
svg .abcjs-d0-375,
svg .abcjs-d0-21875,
svg .abcjs-d0-03125,
svg .abcjs-beam-elem {
  fill: #ffffcc;
}
