{% block head %}
  <title>{% block title %}Music Generation Web Service{% endblock %}</title>
  {% block meta %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="{% block meta_description %}{% endblock %}">
      <meta name="author" content="{% block meta_author %}n4mespace{% endblock %}">

      <!-- Icons made by "https://www.flaticon.com/authors/smartline"  -->
      <link rel="icon" type="image/ico" href="static/logo.png" />

      
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" href="static/css/styles.css?=27">
  {% endblock %}

{% endblock %}


{% block body %}
    {% block navbar %}
    <div class="pos-f-t" id="top">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="container-fluid bg-dark p-4">
          
          <div class="row">
        
            <div class="col-md-4" id="top_bar_col">
              <h5 class="text-white h2">Select Genre</h5>
              <span class="text-muted h4">And enjoy your melody</span>          
            </div>
        
            <div class="col btn-group btn-group-toggle" id="genres_btn" data-toggle="buttons">
              {% for genre in music_genres %}
                <label class="btn btn-secondary">
                    <input type="radio" name="genres" autocomplete="off">
                    <span>{{ genre|title }}</span>
                </label>
              {% endfor %}
            </div>
        
          </div>
        </div>
      </div>
      <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" id="menu_btn" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span id="menu_icon" class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-text">Menu</span>
        </button>
      </nav>
    </div>
    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block scripts %}
      <script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script>
      <script src="static/js/script.js?=222"></script>
    {% endblock %}
    
{% endblock %}