body {
  background: gray;
  position: absolute;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

#menu_btn {
  border: 0px !important;
}

#top_bar_col {
  padding-right: 1%;
  padding-left: 5%;
}

#genres_btn {
  padding-right: 10%;
  padding-left: 1%;
}

.btn-secondary {
  font-size: 1.7rem !important;
  margin: 1 auto;
  padding: 2%;
  display: table-cell;
  vertical-align: middle;
  outline: 0 !important;
  outline-offset: 0  !important;
  background-image: none  !important;
  -webkit-box-shadow: none !important;
  box-shadow: none  !important;
}

.btn-secondary:not(:disabled):not(.disabled):hover, 
.show > 
.btn-secondary.dropdown-toggle + span,
input[type="radio"]:checked + span {
  color: #ffc107;
  text-shadow: 7px -3px 3px black;
}

.animation-wrapper {
  width: 50%;
  padding-bottom: 50%;
}

.sphere-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 580px;
  height: 580px;
  margin: -290px 0 0 -290px;
}

.sphere path {
  fill: url(#sphereGradient);
  stroke-width: 1px;
  stroke: rgba(43, 74, 177, 0.35);
  backface-visibility: hidden;
}

@media (min-width: 500px) {
  .sphere path {
    stroke-width: 0.4px;
  }
}